*{
    padding: 0;
    margin: 0; 
}
 
h1{
    padding: 50px; 
    
}
#header {
    background-color: grey;
    color: white;
    text-align: centre;
    padding: 10px;
}

#newsblogid h2 {
    text-align: centre;
    padding: 10px;
    text-decoration: underline;
}

.specificBlog {
    display: flex;
    margin: 5px;
}

.specificBlog > .blogright >h4 {
    padding: 10px;
    color: pink;
}

.specificBlog > .blogright > p {
    padding-left: 10px;
}

.specificBlog > .blogright > a {
    padding-left: 10px;